In [1]:
import pandas as pd
import numpy as np
from math import ceil
from sklearn.model_selection import train_test_split

# Amostragem simples

In [2]:
url = "https://raw.githubusercontent.com/anaiza-z/curso-ciencia-de-dados/main/Dados/iris.csv"
base = pd.read_csv(url)
base

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
#obter os mesmos resultados posteriormente 
np.random.seed(2345)
#gerando 150 amostras, de 0 e 1, com reposição, probabilidades equivalentes
amostra = np.random.choice(a = [0, 1], size = 150, replace = True, p = [0.7, 0.3])
amostra
#len(amostra[amostra == 0]) 
#len(amostra[amostra == 1])

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [4]:
base_final = base.loc[amostra == 0]
base_final

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[101 rows x 5 columns]

# Amostragem sistemática

In [5]:
populacao = 150
amostra = 15
k = ceil(populacao/amostra)
print(k)

10

In [6]:
#gerando um inteiro aleatório entre 1 e k (inclusivo)
r = np.random.randint(low = 1, high = k + 1, size = 1)
print(r)

[10]

In [45]:
#vai até 150 (populacao) de 10 em 10 (k) com o inicio definido em r
acumulador = r[0]
sorteados = []
for i in range(amostra):
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109, 119, 129, 139, 149]

In [52]:
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
9             4.9          3.1           1.5          0.1      Iris-setosa
19            5.1          3.8           1.5          0.3      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
69            5.6          2.5           3.9          1.1  Iris-versicolor
79            5.7          2.6           3.5          1.0  Iris-versicolor
89            5.5          2.5           4.0          1.3  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

# Amostragem estratificada

In [51]:
base['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [56]:
#base.iloc[:, 0:4]: busca comente os atributos previsores
#base.iloc[:, 4]: busca somente a classe (espécie da planta)
#test_size: seleciona 50% dos dados, porém como essa função retorna 4 valores e só precisa de 50% (2 valores), então coloca "_"
#stratify: retorna a amostra baseada na classe

x, _, y, _ = train_test_split(base.iloc[:, 0:4], base.iloc[:, 4], test_size = 0.5, stratify = base.iloc[:, 4])
y.value_counts()

class
Iris-setosa        25
Iris-versicolor    25
Iris-virginica     25
Name: count, dtype: int64

In [7]:
url1 = "https://raw.githubusercontent.com/anaiza-z/curso-ciencia-de-dados/main/Dados/infert.csv"
infert = pd.read_csv(url1)
infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [8]:
infert['education'].value_counts()

education
6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: count, dtype: int64

In [9]:
#criando uma amostra com 40% dos registros
x1, _, y1, _ = train_test_split(infert.iloc[:, 2:9], infert.iloc[:, 1], test_size = 0.6, stratify = infert.iloc[:, 1])
y1.value_counts()

education
6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: count, dtype: int64