In [45]:
import pandas as pd
import statistics as sts
import seaborn as snr

In [47]:
dados = pd.read_csv("tempo.csv", sep=";")
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [49]:
#verificar onde tem na
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [51]:
agrupado = dados.groupby(dados['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [53]:
#corrigindo aparencia
dados.loc[dados['Aparencia'] == 'menos', 'Aparencia'] = "sol"
#verificar se ainda tem erro
agrupado = dados.groupby(dados['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [55]:
#resumo de temperatura
dados['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [57]:
#visualizar quem est√° fora dos limites
dados.loc[(dados['Temperatura'] < -130) | (dados['Temperatura'] > 130)]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [59]:
#calcular mediana
mediana_temp = sts.median(dados['Temperatura'])
mediana_temp

73.5

In [69]:
#substituir fora do limite por mediana
dados.loc[(dados['Temperatura'] < -130) | (dados['Temperatura'] > 130), 'Temperatura'] = mediana_temp = sts.median(dados['Temperatura'])
#conferir se ainda tem erro
dados.loc[(dados['Temperatura'] < -130) | (dados['Temperatura'] > 130), 'Temperatura']

Series([], Name: Temperatura, dtype: float64)

In [79]:
dados.loc[(dados['Umidade'] < 0) | (dados['Umidade'] > 100)]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [81]:
#tirando NA de umidade
mediana = sts.median(dados['Umidade'])
dados['Umidade'].fillna(mediana, inplace=True)
#verificar se ainda tem NA
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [83]:
#substituir fora do limite por mediana
dados.loc[(dados['Umidade'] < 0) | (dados['Umidade'] > 100)] = mediana_temp = sts.median(dados['Temperatura'])
#conferir se ainda tem erro
dados.loc[(dados['Umidade'] < 0) | (dados['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [95]:
#verificar vento
agrupado = dados.groupby(dados['Vento']).size()
agrupado
#substituir NA pela moda
dados['Vento'].fillna('FALSO', inplace=True)
#verificar se ainda tem NA
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [97]:
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol         85.0     85.0       FALSO   nao
1       sol         80.0     90.0  VERDADEIRO   nao
2   nublado         83.0     86.0       FALSO   sim
3     chuva         70.0     85.5       FALSO   sim
4     chuva         68.0     80.0       FALSO   sim